<app-toolbar></app-toolbar>
<div>
  <mat-card>
  <p>Sign up</p>

  <form [formGroup]="registrationForm">

    <input formControlName="FirstName" placeholder="FirstName" type="text">
    <input formControlName="LastName" placeholder="LastName" type="text">
    <input formControlName="Email" placeholder="Email" type="text">
    <input formControlName="Username" placeholder="Username" type="text">
    <input formControlName="PasswordHash" placeholder="PasswordHash" type="password">

  </form>

  <div>
    <button mat-button (click)="submit()">Submit</button>
  </div>

  </mat-card>

</div>
<router-outlet></router-outlet>
