button{
  background: #45A29E;
  margin-right:10px;
}
mat-toolbar{
  background: #0B0C10;
  span {
    color: #66FCF1;
  }
}
.example-spacer {
  flex: 1 1 auto;
}

.example-icon{
  background: #0B0C10;
  mat-icon{
    color: #66FCF1;
  }
}
