
<div>
  <mat-card>

  <p>Register product</p>
  <form [formGroup]="registrationForm">

    <input formControlName="name" placeholder="name" type="text">
    <input formControlName="price" placeholder="price" type="number">
    <input formControlName="description" placeholder="description" type="text">
    <input formControlName="photoLink" placeholder="photoLink" type="text">
    <input formControlName="categoryId" placeholder="categoryId" type="text">

  </form>

  <div>
    <button mat-raised-button (click)="submit()">Submit</button>
  </div>

  </mat-card>

</div>
<router-outlet></router-outlet>
